<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HELOO</h1>
    <p>Welcome to my coolest app... you will love this soo muc...</p>
  </body>
</html>
